<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2">
          <assemblies>
          </assemblies>
      </compilation>
      <httpRuntime targetFramework="4.5.2"/>

      <customErrors mode="On" defaultRedirect="Oops.aspx" redirectMode="ResponseRewrite">
        <error statusCode="404" redirect="404.aspx"/>
      </customErrors>
      <pages>
        <controls>
          <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        </controls>
      </pages>
      <httpHandlers>
      </httpHandlers>
      <profile defaultProvider="DefaultProfileProvider">
        <providers>
        </providers>
      </profile>
      <membership defaultProvider="DefaultMembershipProvider">
        <providers>
        </providers>
      </membership>
      <roleManager defaultProvider="DefaultRoleProvider">
        <providers>
        </providers>
      </roleManager>
    </system.web>

  <connectionStrings>
    <add name="BC_DisplaysConnectionString"
      connectionString="Data Source=georgehinch-bc.database.windows.net;Initial Catalog=BC_Displays;Persist Security Info=True;User ID=GeorgeHinch@georgehinch-bc;Password=--SampleDB--"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
    </handlers>
  </system.webServer>

</configuration>
